<head>
	<meta http-equiv="content-type" charset="utf-8">
	<style type="text/css">
		@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,700;1,300;1,700&family=M+PLUS+1:wght@300;700&family=Public+Sans:ital,wght@0,300;0,700;1,300;1,700&family=Jost:ital,wght@0,300;0,700;1,300;1,700&display=swap');    
	 
		@media print {
		  *,
		  *:before,
		  *:after {
			background: transparent !important;
			color: #000 !important;
			box-shadow: none !important;
			text-shadow: none !important;
			 }

		  a,
		  a:visited {
			text-decoration: underline;
			}

		  a[href]:after {
			content: " (" attr(href) ")";
			}

		  abbr[title]:after {
			content: " (" attr(title) ")";
			}

		  a[href^="#"]:after,
		  a[href^="javascript:"]:after {
			content: "";
			}

		  pre,
		  blockquote {
			border: 1px solid #999;
			page-break-inside: avoid;
			}

		  thead {
			display: table-header-group;
			}

		  tr,
		  img {
			page-break-inside: avoid;
			}

		  img {
			max-width: 100% !important;
			}

		  p,
		  h2,
		  h3 {
			orphans: 3;
			widows: 3;
			}

		  h2,
		  h3 {
			page-break-after: avoid;
			}	
		}

		pre {
		  padding: .5rem;
		  line-height: 1.25;
		  overflow-x: scroll;
		  }

		a,
		a:visited {
		  color: #3498db;
		  }

		a:hover,
		a:focus,
		a:active {
		  color: #2980b9;
		  }

		html {
		  font-size: clamp(15px, 1vw, 25px);
		  }

		@media screen and (min-width: 32rem) and (max-width: 48rem) {
		  html {
			font-size: clamp(15px, 1vw, 25px);
			}
		}

		@media screen and (min-width: 48rem) {
		  html {
			font-size: clamp(15px, 1vw, 25px);
			}
		}

		body {
		  line-height: 1.85;
		  }

		p{
		  font-size: 1rem;
		  margin-bottom: 1.3rem;
		  }

		h1,
		h2,
		h3,
		h4 {
		  margin: 1.414rem 0 .5rem;
		  font-weight: inherit;
		  line-height: 1.42;
		  }

		h1{
		  margin-top: 0;
		  font-size: 2rem;
		  }

		h2 {
		  font-size: 1.5rem;
		  }

		h3 {
		  font-size: 1.2rem;
		  }

		h4 {
		  font-size: 1rem;
		  }

		h5 {
		  font-size: .8rem;
		  }

		h6 {
		  font-size: .8rem;
		  }

		small{
		  font-size: .707em;
		  }

		img,
		canvas,
		iframe,
		video,
		svg,
		select,
		textarea {
		  max-width: 100%;
		  }

		html {
		  font-size: 14px;
		  max-width: 100%;
		  }

		body {
		  color: #444;
		  font-family: 'Jost','Public Sans' , 'M PLUS 1', sans-serif;
		  font-weight: 300;
		  margin: 0 auto;
		  max-width: 60rem;
		  line-height: 1.5;
		  padding: .25rem;
		  }

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
		  font-family: 'Jost','Public Sans' , 'M PLUS 1', sans-serif;
		  }

		h1,
		h2,
		h3 {
		  border-bottom: 2px solid #fafafa;
		  margin-bottom: 1.15rem;
		  padding-bottom: .5rem;
		  text-align: center;
		  }

		blockquote {
		  border-left: 8px solid #fafafa;
		  padding: 1rem;
		  }
		
		table {
			font-size: 0.88rem;
			}
		
		caption {
			font-size: 1.2rem;
			}
		
		pre,
		code {
		  background-color: #f6f9fc;
		  font-size: 0.9rem;
		  font-family: 'JetBrains Mono', monospace;
		  }
		  
		p {
			text-indent: 1em;
			}
			
		.MathJax_CHTML {
			font-size: 0.9rem !important;
			}
		
		.MathJax {
			font-size: 0.9rem !important;
			}
							
		.sticky {
			position: -webkit-sticky;
			position: sticky;
			bottom: 15px;
			float: right;
			}
	</style>

<script type='text/x-mathjax-config'>
MathJax.Hub.Config({
  "tex2jax": {
    inlineMath: [['$','$'], ['\\(','\\)']]
  }
  });
</script>

<script type='text/javascript' src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML%2CSafe.js&#038;ver=3.8'></script>

</head>
