<head>
	<meta http-equiv="content-type" charset="utf-8">
	<style type="text/css">
		@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,700;1,300;1,700&family=Jost:ital,wght@0,300;0,700;1,300;1,700&family=M+PLUS+1:wght@300;700&display=swap');

	

	@media screen and (max-width: 999px)  {		
		
		body {
		  color: #444;
		  font-family: 'Jost', 'M PLUS 1', sans-serif;
		  font-size: clamp(15px, 1vw, 22px);
<<<<<<< Updated upstream
		  font-weight: 300;
=======
		  font-weight: 300
>>>>>>> Stashed changes
		  width: 80%;
		  line-height: 1.5;
		  margin:  auto;
		  position: center;
		  }
	
		h1{
		  margin-top: 0;
		  font-size: 2rem;
		  font-weight:bold;
		  }

		h2 {
		  font-size: 1.5rem;
		  font-weight:bold;
		  }

		h3 {
		  font-size: 1.2rem;
		  font-weight:bold;
		  }

		h4 {
		  font-size: 1rem;
		  }

		h5 {
		  font-size: .8rem;
		  }

		h6 {
		  font-size: .8rem;
		  }

		small{
		  font-size: .707em;
		  }

		img,
		canvas,
		iframe,
		video,
		svg,
		select,
		textarea {
		  max-width: 100%;
		  margin:  auto;
		  }

		html {
			font-size: clamp(14px, 1vw, 22px);
			max-width: 80%;
			font-weight: 300 !important;
			overflow-x: scroll;
		  }


		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
		  font-family: 'Jost' , 'M PLUS 1', sans-serif;
		  }

		h1,
		h2,
		h3 {
		  border-bottom: 2px solid #fafafa;
		  margin-bottom: 1.15rem;
		  text-align: center;
		  }

		blockquote {
		  border-left: 8px solid #fafafa;
		  padding: 1rem;
		  }
		
		table {
			font-size: clamp(15px, 1vw, 20px);
<<<<<<< Updated upstream
			font-weight: 300 !important;
=======
			font-weight: 400 !important;
>>>>>>> Stashed changes
			font-family: 'JetBrains Mono', monospace;
			overflow-x: scroll;
			}
		
		caption {
			font-size: 1.2rem;
			}
		
		pre,
		code {
		  background-color: #f6f9fc;
		  font-size: 0.9rem;
		  font-family: 'JetBrains Mono', monospace;
		  }
		  
		p {
			text-indent: 1rem;
			}
			
		.MathJax_CHTML {
			font-size: 0.88rem !important;
			}
		
		.MathJax {
			font-size: 0.88rem !important;
			}
							
		.sticky {
			position: -webkit-sticky;
			position: sticky;
		    font-size: 14px;
			float: right;
			}

		/***追従するトップへ戻るボタン***/
		#page-top {
		    position: fixed;
		    right: 5px;
		    bottom: 20px;
		    height: 50px;
		    text-decoration: none;
		    font-weight: bold;
		    transform: rotate(90deg);
		    font-size: 90%;
		    line-height: 1.5rem;
		    color: #737373;
		    padding: 0 0 0 35px;
		    border-top: solid 1px;
		}
		#page-top::before {
		    content: "";
		    display: block;
		    position: absolute;
		    top: -1px;
		    left: 0px;
		    width: 15px;
		    border-top: solid 1px;
		    transform: rotate(35deg);
		    transform-origin: left top;
		}
		/***トップへ戻るボタンここまで***/
		
	}



	@media screen and (min-width: 1000px)  {		
	body {
		  color: #444;
		  font-family: 'Jost', 'M PLUS 1', sans-serif;
		  font-size: clamp(16px, 1vw, 22px);
<<<<<<< Updated upstream
		  font-weight: 300;
=======
		  font-weight: 300
>>>>>>> Stashed changes
		  width: 70%;
		  margin-left: 260px;
		  float: left;
		  line-height: 1.5;
		  }
	
	.menu {
	    background: #f6f6f6;
	    clear: both;
	    padding:10px;    
	    overflow: scroll;
	    width: 200px;
	    position: fixed;
        top: 0rem;
        left: 0px;
        white-space:normal;
        overflow: scroll;
        height: 100%;
        font-size: 15px;
        min-width: 220px;
        z-index: 1;

	    }
	    
	.menu ul, ol {
	   padding-left: 2em; 
	   }

	.menu li > ul, li > ol {
	   padding-left: 1em; 
	   }
	.menu a {
		color:#004400 ;
		}
	.menu a:hover {
		color: #003300;
		}
	.menu h2 {
		margin:0;
		padding:10px 0;
		font-weight:bold;

		}
}

		h1{
		  margin-top: 0;
		  font-size: 2rem;
		  font-weight:bold;
		  }

		h2 {
		  font-size: 1.5rem;
		  font-weight:bold;
		  }

		h3 {
		  font-size: 1.2rem;
		  font-weight:bold;
		  }

		h4 {
		  font-size: 1rem;
		  }

		h5 {
		  font-size: .8rem;
		  }

		h6 {
		  font-size: .8rem;
		  }

		small{
		  font-size: .707em;
		  }

		img,
		canvas,
		iframe,
		video,
		svg,
		select,
		textarea {
		  max-width: 100%;
		  margin:  auto;
		  }

		html {
		  max-width: 100%;
		  font-weight: 300 !important;
		  font-size: clamp(16px, 1vw, 22px);
		  }


		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
		  font-family: 'Jost' , 'M PLUS 1', sans-serif;
		  }

		h1,
		h2,
		h3 {
		  border-bottom: 2px solid #fafafa;
		  margin-bottom: 1.15rem;
		  text-align: center;
		  }

		blockquote {
		  border-left: 8px solid #fafafa;
		  padding: 1rem;
		  }
		
		table {
		    font-size: clamp(15px, 1vw, 18px);
<<<<<<< Updated upstream
			font-weight: 300 !important;
=======
			font-weight: 400 !important;
>>>>>>> Stashed changes
			font-family: 'JetBrains Mono', monospace;
			width: 80%;
        	overflow-x: scroll;
        	display: block;
        	-webkit-overflow-scrolling: touch;
        	margin:auto;
			}
		
		caption {
			font-size: 1.2rem;
			}
		
		pre,
		code {
		  background-color: #f6f9fc;
		  font-size: 0.85rem;
		  font-family: 'JetBrains Mono', monospace;
		  }
		  
		p {
			text-indent: 1rem;
			}
			
		.MathJax_CHTML {
			font-size: 0.88rem !important;
			}
		
		.MathJax {
			font-size: 0.88rem !important;
			}
							
		.sticky {
			position: -webkit-sticky;
			position: sticky;
		    font-size: 14px;
			float: right;
			}

		/***追従するトップへ戻るボタン***/
		#page-top {
		    position: fixed;
		    right: 5px;
		    bottom: 20px;
		    height: 50px;
		    text-decoration: none;
		    font-weight: bold;
		    transform: rotate(90deg);
		    font-size: 16px;
		    line-height: 1.5rem;
		    color: #737373;
		    padding: 0 0 0 35px;
		    border-top: solid 1px;
		}
		#page-top::before {
		    content: "";
		    display: block;
		    position: absolute;
		    top: -1px;
		    left: 0px;
		    width: 15px;
		    border-top: solid 1px;
		    transform: rotate(35deg);
		    transform-origin: left top;
		}
		/***トップへ戻るボタンここまで***/
		
			}



	}



		@media print {
		  *,
		  *:before,
		  *:after {
			background: transparent !important;
			color: #000 !important;
			box-shadow: none !important;
			text-shadow: none !important;
			 }
			 
		body {
		  color: #444;
		  font-family: 'Jost', 'M PLUS 1', sans-serif;
		  font-size: 12px;
<<<<<<< Updated upstream
		  font-weight: 300;
=======
		  font-weight: 300
>>>>>>> Stashed changes
		  margin: 0 auto;
		  max-width: 62rem;
		  line-height: 1.5;
		  }


		p{
		  margin-bottom: 1.3rem;
		  }

		h1,
		h2,
		h3,
		h4 {
		  margin: 1rem 0 .5rem;
		  font-weight: inherit;
		  line-height: 1.42;
		  }

		h1{
		  margin-top: 0;
		  font-size: 2rem;
		  font-weight:bold;
		  }

		h2 {
		  font-size: 1.5rem;
		  font-weight:bolder;
		  }

		h3 {
		  font-size: 1.2rem;
		  font-weight:bolder;
		  }

		h4 {
		  font-size: 1rem;
		  }

		h5 {
		  font-size: .8rem;
		  }

		h6 {
		  font-size: .8rem;
		  }

		small{
		  font-size: .707em;
		  }

		img,
		canvas,
		iframe,
		video,
		svg,
		select,
		textarea {
		  max-width: 100%;
		  }


		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
		  font-family: 'Jost' , 'M PLUS 1', sans-serif;
		  }

		h1,
		h2,
		h3 {
		  border-bottom: 2px solid #fafafa;
		  margin-bottom: 1.15rem;
		  text-align: center;
		  }

		blockquote {
		  border-left: 8px solid #fafafa;
		  padding: 1rem;
		  }
		
		table {
			font-size: 0.8rem;
			}
		
		caption {
			font-size: 1.2rem;
			}
		
		pre,
		code {
		  background-color: #f6f9fc;
		  font-size: 0.8rem;
		  font-family: 'JetBrains Mono', monospace;
		  }
		  
		p {
			text-indent: 1em;
			}
			
		.MathJax_CHTML {
			font-size: 0.7rem !important;
			}
		
		.MathJax {
			font-size: 0.7rem !important;
			}
							
		.sticky {
			position: -webkit-sticky;
			position: sticky;
		    font-size: 14px;
			float: right;
			}
			
		  a,
		  a:visited {
			text-decoration: underline;
			color: #006600;
			}

		  a[href]:after {
			content: " (" attr(href) ")";
			}

		  abbr[title]:after {
			content: " (" attr(title) ")";
			}

		  a[href^="#"]:after,
		  a[href^="javascript:"]:after {
			content: "";
			}

		  pre,
		  blockquote {
			border: 1px solid #999;
			page-break-inside: avoid;
			}

		  thead {
			display: table-header-group;
			}

		  tr,
		  img {
			page-break-inside: avoid;
			}

		  img {
			max-width: 100% !important;
			}

		  p,
		  h2,
		  h3 {
			orphans: 3;
			widows: 3;
			}

		  h2,
		  h3 {
			page-break-after: avoid;
			}	
		}

		pre {
		  line-height: 1.25;
		  overflow-x: scroll;
		  }

		a,
		a:visited {
		  color: #006600;
		  }

		a:hover,
		a:focus,
		a:active {
		  color: #003300;
		  }

		html {
		  font-size: clamp(16px, 1vw, 28px);
<<<<<<< Updated upstream
		  font-weight: 300;
=======
		  font-weight: 300
>>>>>>> Stashed changes
		  }

	</style>

<script type='text/x-mathjax-config'>
MathJax.Hub.Config({
  "tex2jax": {
    inlineMath: [['$','$'], ['\\(','\\)']]
  }
  });
</script>

<script type='text/javascript' src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML%2CSafe.js&#038;ver=3.8'></script>

<script type="text/javascript" src='http://haghish.com/statax/Statax.js'></script>

</head>
